body {
  font-family: "Montserrat", sans-serif;
}

button {
  width: 140px;
  height: 45px;
  font-weight: 600;
  font-size: 16px;
  color: #308f18;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}