body {
  font-family: "Montserrat", sans-serif;
}

button {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  height: 45px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background-color: #51c560;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease 0s;
  cursor: pointer;
  outline: none;
  padding: 0 20px;
}

button:disabled {
  background-color: #d6d6d6;
}